body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 1540px;
  background-color: rgb(237, 237, 237);
  /* background-color: black; */
  /* display: block; */
}

/* @media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
} */
header {
  background-color: white;
  position: fixed;
  margin-top: 5px;
  /* padding-bottom: 20px; */
}
.header {
  width: 1540px;
  height: 65px;
  display: flex;
  flex-direction: row;
  /* margin-top: -5px; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  position: fixed;
}

.logo {
  padding-left: 100px;
  padding-right: 5px;
}
.logo-box {
  padding-top: 20px;
}
.nav-subhead {
  text-decoration: none;
  padding-left: 20px;
  color: grey;
  font-size: 17px;
}
.nav-head {
  padding-top: 30px;
}
.nav-head2 {
  padding-top: 30px;
  margin-left: 500px;
}
.nav-subhead2 {
  text-decoration: none;
  padding-left: 20px;
  font-size: 15px;
  color: grey;
}
.img {
  margin-top: -15px;
}
.icon {
  padding-top: 28px;
  opacity: 0.5;
  margin-left: 55px;
  padding-right: 5px;
}
.rtx {
  /* padding-left: 50px; */
  width: 1540px;
  height: 500px;
}
.div2-txt {
  z-index: 1;
  margin-top: -430px;
  margin-left: 90px;
}
#txt1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
#txt2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 5px;
}
button {
  margin-top: 5px;
  background-color: #76b900;
  font-family: Arial, Helvetica, sans-serif;
  width: 90px;
  height: 40px;
  border: none;
}
#bgtxt {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.main {
  margin-top: 180px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}
.head-div {
  text-align: center;
  padding-right: 100px;
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 30px;
  padding-top: -40px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.box {
  width: 295px;
  height: 365px;
  background-color: white;
  box-shadow: #aaa 4px 4px 4px;
}
#image-rtx {
  width: 295px;
  height: 166px;
}
#subhead {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
}

#subhead-txt {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  color: grey;
  font-weight: 400px;
}
.main2 {
  margin-top: 80px;
}
.box2 {
  width: 295px;
  height: 279.5px;
  background-color: white;
  box-shadow: #aaa 4px 4px 4px;
}
.main3 {
  margin-top: 80px;
}
.main4 {
  margin-top: 80px;
}
.box4 {
  width: 295px;
  height: 420px;
  background-color: white;
  box-shadow: #aaa 4px 4px 4px;
}
.page-footer {
  width: 1540px;
  height: 500px;
  background-color: black;
  /* padding-right: 500px; */
  margin-left: -100px;
  margin-top: 50px;
}
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.foot-head {
  color: white;
  margin-left: 40px;
  margin-top: 50px;
  border-bottom: 1px solid lightgrey;
  border: opacity 0.5;
  width: 350px;
  font-size: 20px;
  font-weight: bold;
}

.footerpart {
  margin-right: 10px;
}
.foot-link {
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 10px;
}
li a {
  color: #76b900;
  text-decoration: none;
  font-size: 16px;
}
.foot-end {
  display: flex;
  gap: 20px;
  z-index: -1;
  margin-top: -110px;
}
p {
  color: white;
}
button {
  color: white;
  font-weight: bold;
}
.foot-logo {
  display: flex;
  gap: 20px;
  z-index: -1;
  margin-top: -50px;
  margin-left: 850px;
}
#logo-txt {
  color: rgb(204, 204, 204);
  opacity: 0.5;
}
.logo-icon {
  opacity: 0.2;
  /* background-color: white; */
  border: none;
  background-color: none;
}
